.card{
    background-color: #0d1717 !important;
    border-radius: 2rem !important; 
}
.card span{
    font-size: 48px;
    font-family: "Albert Sans", sans-serif;
    /* font-optical-sizing: auto; */
    color: #fff;
}
.card-info span{
    font-size: 20px;
    font-family: "Albert Sans", sans-serif;
}
.card-button button{
    font-size: 16px;
    font-family: "Albert Sans", sans-serif;
    border-radius: 10rem;
    padding: 12px 32px;
    margin-top: 10px;
}
.card-button button:hover{
    background-color: #000;
    color: #fff;
}
#card-bt{
    background-color: #113032;
    border: none;
}
#card-bt:hover{
    background-color: #000;
    border: 1px solid red;
}